body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #434343;
    color: whitesmoke;
}

a {
    color: #00B7FF;
}

.address {
    color: #434343;
}

.review {
    padding-bottom: 5px;
}

.panel-body.review-container {
    padding-top: 0;
}

.review-header {
    margin-bottom: 10px;
}

.reviewAuthor {
    margin: 0 5px;
    color: #434343;
}

.reviewTimestamp {
    color: #ccc;
}

.panel p {
    color: #434343;
}

.rating {
    color: #434343;
}


