extends layout

block content
    #banner.page-header
        .row
            .col-md-6.col-sm-12
                h1= title
    .row
        .col-md-6.col-sm-12
            p
                | HardcoreParkore was created to help parkour practioners find awesome places to practice
                | <br/> <br />
                | Parkour is a great way to have fun and get in shape. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet atque consectetur consequatur excepturi iusto maxime quod! Autem consequatur odit officiis provident quae quidem rem repudiandae totam velit! Ea, repellendus?
