extends layout

block content
    .row.page-header
        .col-lg-12
            h1 Starcups
    <!-- setting up nested responsive columns for the template -->
    .row
        .col-xs-12.col-md-9
            .row
                .col-xs-12.col-md-9
                    .row
                        .col-xs-12.col-sm-6
                            p.rating
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty