extends layout

block content
    #banner.page-header
        .row <!-- The row for the header. -->
            .col-lg-6
                h1 HardcoreParkore
                small &nbsp; Find locations near you to do some Parkour!
    .row
        .col-xs-12.col-sm-8
            .row.list-group
                <!-- 1st List Item -->
                .col-xs-12.list-group-item
                    h4
                        a(href="/location") Freerunning Palace
                        small &nbsp;
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star-empty
                        span.badge.pull-right.badge-default 100m
                    p.address 1117 s.9th st, San Jose, ca 95112
                    p
                        span.label.label-info Stair Sets
                        | &nbsp;
                        span.label.label-info Gaps
                        | &nbsp;
                        span.label.label-info Parallel Walls
                        | &nbsp;
                <!-- 2nd List Item -->
                .col-xs-12.list-group-item
                    h4
                        a(href="/location") Freeform Jungle
                        small &nbsp;
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star-empty
                            span.glyphicon.glyphicon-star-empty
                        span.badge.pull-right.badge-default 100m
                    p.address 1117 s.9th st, San Jose, ca 95112
                    p
                        span.label.label-info Stair Sets
                        | &nbsp;
                        span.label.label-info Gaps
                        | &nbsp;
                        span.label.label-info Parallel Walls
                        | &nbsp;
                <!-- 3rd List Item -->
                .col-xs-12.list-group-item
                    h4
                        a(href="/location") Phalanx Jumpers Playground
                        small &nbsp;
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star-empty
                        span.badge.pull-right.badge-default 100m
                    p.address 1117 s.9th st, San Jose, ca 95112
                    p
                        span.label.label-info Stair Sets
                        | &nbsp;
                        span.label.label-info Gaps
                        | &nbsp;
                        span.label.label-info Parallel Walls
                        | &nbsp;
        <!-- SIDE BAR -->
        .col-xs-12.col-sm-4
            p.lead Looking for some good spots to do some parkour? HardcoreParkore.com helps finds the best places to do some parkour.